! special
*.foreground:   #ffffff
*.background:   #212121
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #9e9e9e

! red
*.color1:       #f06292
*.color9:       #f06292

! green
*.color2:       #66bb6a
*.color10:      #66bb6a

! yellow
*.color3:       #ffd54f
*.color11:      #ffb300

! blue
*.color4:       #64B5F6
*.color12:      #64B5F6

! magenta
*.color5:       #CE93D8
*.color13:      #CE93D8

! cyan
*.color6:       #80deea
*.color14:      #80deea

! white
*.color7:       #9e9e9e
*.color15:      #ffffff

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
